* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(fondo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
	margin-top: 20px;
}

h1 {
    font-weight: bold;
    margin: 0;
    color: #ffffff;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
    color: #ffffff;
}

a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container form {
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #008ecf;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    color: #fff;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
}

::placeholder { color: rgba(233, 233, 233, 0.555); }

button {
    border-radius: 20px;
    border: 2px solid #cf59fd;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

a.ghost {
    background: #fff;
    border-color: #fff;
    border-radius: 20px;
    border: 2px solid #cf59fd;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ff416c;
    background: linear-gradient(to right, #6b008b, #474747) no-repeat 0 0 / cover;
    color: rgb(255, 255, 255);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Mover signin a la derecha */
.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

/* Mover la superposición a la izquierda */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Llevar signup sobre signin */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Mover la superposición hacia la derecha */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Volver a centrar el texto */
.container.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* El mismo efecto para la derecha */
.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}

/*Alertas*/
.alerta {
	margin-top: 8px;
    padding: 7px;
    background-color: #6f4675;
    color: white;
    border-radius: 8px;
}

/*"x" boton */
.closebtn {
    margin-left: 10px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 15px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}

/*CÓDIGO BOTÓN SUSCRIBIRSE*/
.suscribete {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 29px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.suscribete:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.suscribete:active {
	position:relative;
	top:1px;
}

/*CÓDIGO BOTÓN VOLVER PAG PRINCIPAL*/

.btnpagprincipal {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 29px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.btnpagprincipal:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.btnpagprincipal:active {
	position:relative;
	top:1px;
}
